<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>
  <div class="header-wrapper">
    <header class="header-container">
      <a href="{{ '/' | relative_url }}" class="nav-logo">Mouad El Bouchattaoui</a>

      <nav class="nav-links">
        <a href="{{ '/about/' | relative_url }}" class="nav-item">About</a>
        <a href="{{ '/experience/' | relative_url }}" class="nav-item">Experience</a>
        <a href="{{ '/research/' | relative_url }}" class="nav-item">Research</a>
        <a href="{{ '/projects/' | relative_url }}" class="nav-item">Projects</a>
        <a href="{{ '/skills/' | relative_url }}" class="nav-item">Skills</a>
        <a href="{{ '/blog/' | relative_url }}" class="nav-item">Blog</a>
      </nav>
    </header>
  </div>

  <main class="main-content">
    {% if page.url == '/' %}
    {{ content }}
    {% else %}
    <div class="page-container">
      {{ content }}
    </div>
    {% endif %}
  </main>

  <div class="footer-wrapper">
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2026 Mouad El Bouchattaoui</p>
      </div>
    </footer>
  </div>
</body>

</html>